html {
    padding: 20px;
    margin: 100px 25px 20px 25px;
}

.box {
    height: 190px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    border-style: outset inset ;
}

.box:nth-child(even) {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.box:nth-child(odd) {
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}

