.box {
    height: 190px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box:nth-child(even) {
    background-color:rgb(226, 61, 19);
}

.box:nth-child(odd) {
    background-color:rgb(97, 99, 102);
}

