.navbar ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    
}

.navbar li {
    margin: 10px;
}

.form {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 50%;
    padding: 50px;
    margin-left: 24%;
}

.form-input {
    display: flex;
    flex-direction: column;
}


.crt p { 
    display: flex;
    justify-content: center;
    margin:10px;
    border: 1px solid black;
    width: 15%;
    margin-left: 45%;
}
